<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Intro</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>DEA Home Page</strong></h1>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/sorting.jpg}" alt="Java Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is a sorting algorithm?</h5>
                    <p class="card-text">
                        <ol>
                            <li>A sorting algorithm is a set of logic and rules created to sort a collection of similar and related elements.</li>
                            <li>It commonly has uses in ordering collections of data to make certain elements more accessible, or to create certain properties that allow for certain operations, like taking every other element in ascending order.</li>
                            <li>It covers commonly used algorithmic techniques like recursion, array pointers, and divide and conquer.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/dea.png}" alt="Spring Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How will we demonstrate this visually?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Show an intuitive graphic of individual elements in an array as different height blocks. </li>
                            <li>Play an animation to demonstrate how individual blocks are shifted around to created sorted arrays.</li>
                            <li>Calculated parameters such as the time taken and number of swaps performed in order to show efficiency of algorithms</li>
                            <li>Provide the user with short descriptions on the time complexities of algorithms, and their use cases</li>
                        </ol>
                    </p>
                    <a href="https://dea-frontend.vercel.app/pages/quick_sort.html" class="btn btn-primary">Goto our project!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>